<h1>Editing Collect Education Detail</h1>

<%= render 'form', collect_education_detail: @collect_education_detail %>

<%= link_to 'Show', @collect_education_detail %> |
<%= link_to 'Back', collect_education_details_path %>
