<p id="notice"><%= notice %></p>

<h1>Working Experiences</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Designation</th>
      <th>From date</th>
      <th>To date</th>
      <th>Duration</th>
      <th>Exp file upload</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @working_experiences.each do |working_experience| %>
      <tr>
        <td><%= working_experience.company_name %></td>
        <td><%= working_experience.designation %></td>
        <td><%= working_experience.from_date %></td>
        <td><%= working_experience.to_date %></td>
        <td><%= working_experience.duration %></td>
        <td><%= working_experience.exp_file_upload %></td>
        <td><%= link_to 'Show', working_experience %></td>
        <td><%= link_to 'Edit', edit_working_experience_path(working_experience) %></td>
        <td><%= link_to 'Destroy', working_experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Working Experience', new_working_experience_path %>
