<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @working_experience.company_name %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @working_experience.designation %>
</p>

<p>
  <strong>From date:</strong>
  <%= @working_experience.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @working_experience.to_date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @working_experience.duration %>
</p>

<p>
  <strong>Exp file upload:</strong>
  <%= @working_experience.exp_file_upload %>
</p>

<%= link_to 'Edit', edit_working_experience_path(@working_experience) %> |
<%= link_to 'Back', working_experiences_path %>
