<%= form_with(model: education_detail, local: true) do |form| %>
  <% if education_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(education_detail.errors.count, "error") %> prohibited this education_detail from being saved:</h2>

      <ul>
      <% education_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :degree %>
    <%= form.text_field :degree %>
  </div>

  <div class="field">
    <%= form.label :institute %>
    <%= form.text_field :institute %>
  </div>

  <div class="field">
    <%= form.label :university %>
    <%= form.text_field :university %>
  </div>

  <div class="field">
    <%= form.label :year_of_passing %>
    <%= form.text_field :year_of_passing %>
  </div>

  <div class="field">
    <%= form.label :percentage_CGPA %>
    <%= form.text_field :percentage_CGPA %>
  </div> 

  <div class="field">
    <%= form.label :edu_file_attachment %>
    <%= form.file_field :edu_file_attachment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
