<p id="notice"><%= notice %></p>

<h1>Education Details</h1>

<table>
  <thead>
    <tr>
      <th>Degree</th>
      <th>Institute</th>
      <th>University</th>
      <th>Year of passing</th>
      <th>Percentage cgpa</th>
      <th>Edu file attachment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @education_details.each do |education_detail| %>
      <tr>
        <td><%= education_detail.degree %></td>
        <td><%= education_detail.institute %></td>
        <td><%= education_detail.university %></td>
        <td><%= education_detail.year_of_passing %></td>
        <td><%= education_detail.percentage_CGPA %></td>
        <td><%= education_detail.edu_file_attachment %></td>
        <td><%= link_to 'Show', education_detail %></td>
        <td><%= link_to 'Edit', edit_education_detail_path(education_detail) %></td>
        <td><%= link_to 'Destroy', education_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Education Detail', new_education_detail_path %>
