<p id="notice"><%= notice %></p>

<p>
  <strong>Degree:</strong>
  <%= @education_detail.degree %>
</p>

<p>
  <strong>Institute:</strong>
  <%= @education_detail.institute %>
</p>

<p>
  <strong>University:</strong>
  <%= @education_detail.university %>
</p>

<p>
  <strong>Year of passing:</strong>
  <%= @education_detail.year_of_passing %>
</p>

<p>
  <strong>Percentage cgpa:</strong>
  <%= @education_detail.percentage_CGPA %>
</p>

<p>
  <strong>Edu file attachment:</strong>
  <%= @education_detail.edu_file_attachment %>
</p>

<%= link_to 'Edit', edit_education_detail_path(@education_detail) %> |
<%= link_to 'Back', education_details_path %>
